.titles{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
color:#07BEB8
}
.bodies{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.link-indice{color:white; 
text-decoration:none;
background-color: #68D8D6;
padding: 5px 10px;
line-height: 40px;
border-radius: 30px 30px 30px 30px;   
}
.link-final{
color:white; 
text-decoration:none;
background-color: #68D8D6;
padding: 5px 10px;
border-radius: 30px 30px 30px 30px;

}
.image{border-radius: 10%;
width: 250px;
}
span{font-size: 1.1em;
color:#9CEAEF;
font-weight: 900;
}